/* Write your code here. */
.mainBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0f172a;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.teamBlock {
  display: flex;
}
.textBlock {
  color: white;
  font-family: Roboto;
}
